<%- model_class = List -%>
<div class="page-header">
  <h1><%= @title %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th>List from</th>
    </tr>
  </thead>
  <tbody>
    <% @lists.each do |list| %>
      <tr>
        <td><%= link_to list.name, list_path(list) %></td>
        <td><%= link_to list.user.email, user_lists_path(list.user) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
