<h1>Welcome!</h1>
<p>You are accessing our to-do app. To get started creating and managing to-do lists, you must Sign in or sign up.</p>
<p>After you start, you may create lists, add and remove tasks to them, mark the tasks as done and delete them.</p>
<p>Besides that, you have access to other user's public lists, and can mark them as favorite to find them easier later.</p>
